<div class="container main-container">

  <div class="row">

    <div class="col-md-12 text-right">
      <button (click)="cs.logout()" type="button" class="btn btn-outline-warning" name="button"> Salir </button>
    </div>

    <div class="col-md-8">
      <app-productos></app-productos>
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-3" >

      <div class="carrito-window">
        <app-carrito></app-carrito>
      </div>
      <hr>
      <div class="chat-window">
        <app-chat></app-chat>
      </div>

    </div>

  </div>

</div>
