<div class="container app-productos">
  <div class="row">
    <div class="card main-container" style="width: 20rem;" *ngFor="let producto of _puntoventaservice.productos">

      <div class="card-block form-control">
        <p class="card-title">Producto: &nbsp;&nbsp;&nbsp; {{ producto.Nombreprod }} </p>
        <hr>

        <p class="card-title">Marca:  &nbsp;&nbsp;&nbsp; {{ producto.Marca }}</p>
        <hr>

        <p>Precio: &nbsp;&nbsp;&nbsp; {{ producto.Precio }} </p>
        <hr>

        <div class="offset-md-4">
          <a href="#" class="btn btn-primary">Button</a>
        </div>

      </div>

    </div>
  </div>
</div>
